<footer class="footer">
  <div class="column large-12">
  
  <div class="">
    <div class="large-8 medium-8 columns">
     
      <p class="copyright">&#169; 2014 HR</p>
    </div>

  </div>
  </div>
</footer>